PORT=3001
NODE_ENV=development
LOG_LEVEL=info

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/orderflow?schema=public"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

EXCHANGE_NAME=orderflow.events
ORDER_QUEUE_NAME=order_service_queue
