PORT=3002
NODE_ENV=development
LOG_LEVEL=info

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/orderflow?schema=inventory_schema"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
REDIS_URL="redis://localhost:6379"

EXCHANGE_NAME=orderflow.events
INVENTORY_QUEUE_NAME=inventory_service_queue
